@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

form {
    width: 40rem;
}

.insert-form {
    width: 70rem;
}

.signup-form {
    width: 30rem;
}

.signup-link {
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.signin-form {
    width: 30rem;
}

.signin-link {
    text-decoration: none;
}

.signin-link:hover {
    text-decoration: underline;
}

.link-a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    display: block;
    text-align: center;
    padding: 1vh;
}
.graph{
    height:40vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 10px;
}
.graph1{
    height: 45vh;
    border-radius: 10px;
    background-image: url(SQl.png);
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: #424040;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.12) 0px 15px 12px;
    transition: .5s;
}
.graph1:hover{
    transform: translateY(-5px);
}
.graph1:hover .div-1{
    background: #f62323;
}
.graph2{
    height: 45vh;
    border-radius: 10px;
    background-image: url(LearnSQL.jpg);
    background-position: center;
    background-size: cover;
    text-decoration: none;
    color: #424040;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.12) 0px 15px 12px;
    transition: .5s;
}
.graph2:hover{
    transform: translateY(-5px);
}
.graph2:hover .div-2{
    background: #f62323;
}
.graph3{
    background-color:rgb(149, 147, 147);
    border-radius: 10px;
    text-align: center;
    height: 4vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.12) 0px 15px 12px;
    transition: .5s;
}
.graph3:hover{
    transform: translateY(-5px);
}
.graph3-text{
    text-decoration: none;
    color: #424040;
}
.div-1{
    background: #eb5d5d;
    display: inline-block;
    border-radius: 10px;
    padding: .2vw;
    margin: 2vh;
    color: #fff;
    transition: .5s;
}
.div-2{
    background: #eb5d5d;
    display: inline-block;
    border-radius: 10px;
    padding: .2vw;
    margin: 2vh;
    color: #fff;
    transition: .5s;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .User{
    margin-top: 5vh;
    width: 10vw; /* ขนาดของกรอบ */
    height: 10vw; /* ขนาดของกรอบ */
    border-radius: 50%; /* ทำให้เป็นวงกลม */
    background-color: #ccc; /* สีพื้นหลัง */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* กำหนดให้ภายในเล็กลงในกรอบ */
}
.container .div-user {
    transform: rotate(45deg); /* หมุนรูปร่าง 45 องศา เพื่อให้เกิดรูปร่างมุม */
    overflow: hidden;
}
.container  .div-user img {
    width: 100%; /* ขนาดภาพให้เต็มขนาดกับพื้นที่ */
    height: auto;
    transform: rotate(-45deg); /* ทำให้ภาพกลับมาตำแหน่งเดิม */
}
.name{
    margin-top: 2vw;
    text-align: center;
}
.search{
    margin-top: .8rem;
    margin-bottom: .8rem;
    text-align: center;
    width: 24rem;
}
.taskbar{
    color: rgb(84, 84, 84);
    font-size: 1.5vw;
    margin-top: .2vw;
    text-indent: .7vw;
}
.taskbar1,.taskbar2,.taskbar3,.taskbar4{
    transition: .8s;
}
.taskbar1:hover,
.taskbar2:hover,
.taskbar3:hover,
.taskbar4:hover{
    color:rgb(0, 0, 0);
}
.sidebar{
    background-color:rgb(2255, 250, 245);
}
.bannerbackground{
    background-color:rgb(255, 255, 255);
}
.banner{
    background-image: url(cat.png);
    background-position: center;
    background-size: cover;
}
.banner2{
    background-color:rgb(208, 208, 208);
    margin-left: .2vh;
    margin-right: .2vh;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 100%;
}