@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

form {
    width: 40rem;
}

.signup-form {
    width: 30rem;
}

.signup-link {
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}

.signin-form {
    width: 30rem;
}

.signin-link {
    text-decoration: none;
}

.signin-link:hover {
    text-decoration: underline;
}

#codeForm {
    margin-top: 70px;
}

textarea.form-control {
    font-family: consolas;
}